@charset "utf-8";

#wrap{position:relative;width:1280px;height:800px;background:url('../../img/bg.jpg') no-repeat center top;}

#wrap .header{width:100%;height:77px;}
#wrap .header .title{height:77px;line-height:77px;text-align:center;font-weight:bold;font-size:35px;}

#wrap .header .user_info{position:relative;width:1040px;margin:0 auto;height:56px;border:1px solid rgba(255,255,255,0.2);box-sizing:border-box;border-radius:35px;}
#wrap .header .user_info .ui_dl{padding-top:11px;}
#wrap .header .user_info .ui_dl > dt{float:left;text-align:center;font-size:26px;color:#00d4ff;padding:0 10px 0 38px;}
#wrap .header .user_info .ui_dl > dd{float:left;text-align:center;font-size:26px;}

/* TAB CONTAINER */
#wrap .tabContainer{position:relative;width:100%;overflow:hidden;padding-top:35px;}
#wrap .tabContainer .tabs_nav{width:1040px;margin:0 auto;}
#wrap .tabContainer .tabs_nav > li{float:left;width:350px;padding:0 0 15px 0;}
#wrap .tabContainer .tabs_nav > li a{display:block;width:100%;height:32px;line-height:32px;text-align:center;font-weight:bold;font-size:32px;color:#fff;}
#wrap .tabContainer .tabs_nav > li.on{border-bottom:3px solid #fff200;}
#wrap .tabContainer .tabs_nav > li.on a{color:#fff200;}

#wrap .tab_con{position:relative;width:100%;overflow:hidden;}
#wrap .tab_con .tab_content{width:1040px;margin:0 auto;}
#wrap .tab_con .tab_content .result_table{width:100%;}
#wrap .tab_con .tab_content .result_table tbody td{position:relative;height:74px;text-align:center;font-size:25px;border:1px solid rgba(255,255,255,0.2);vertical-align:middle;}

#wrap .tab_con .tab_content .result_table tbody td .tit_icon{position:absolute;left:0;bottom:10px;width:100%;line-height:20px;font-size:16px;}

#wrap .tab_con .tab_content .result_table tbody td .diagnosis_head{position:relative;overflow:hidden;width:100%;height:104px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_head > dt{width:100%;height:52px;line-height:52px;text-align:center;font-size:20px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_head > dd{float:left;width:33.333%;height:52px;line-height:52px;text-align:center;font-size:20px;border-top:1px solid rgba(255,255,255,0.2);border-right:1px solid rgba(255,255,255,0.2);box-sizing:border-box;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_head > dd:last-child{border-right:0px;}

#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body{position:relative;width:100%;height:296px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li{position:relative;width:100%;height:73px;border-bottom:1px solid rgba(255,255,255,0.2);background:url('../../img/num_line.png') no-repeat center bottom;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li:nth-child(2),
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li:nth-child(3){height:74px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li:last-child{border-bottom:0px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar01{position:absolute;left:0;top:35px;width:80%;height:8px;border-radius:0 5px 5px 0;background:#8e9caa url('../../img/prog_bar_img.jpg') no-repeat left top;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar01 .prog_data_txt{position:absolute;right:0;top:-20px;text-align:right;font-weight:bold;font-size:14px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01{position:absolute;left:0;bottom:0px;width:100%;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data01{position:absolute;left:22px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data02{position:absolute;left:57px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data03{position:absolute;left:90px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data04{position:absolute;left:138px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data05{position:absolute;left:188px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data06{position:absolute;left:225px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num01 .prog_data07{position:absolute;left:260px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}

#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar02{position:absolute;left:0;top:35px;width:57.878787%;height:8px;border-radius:0 5px 5px 0;background:#8e9caa url('../../img/prog_bar_img.jpg') no-repeat left top;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar02 .prog_data_txt{position:absolute;right:0;top:-20px;text-align:right;font-weight:bold;font-size:14px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02{position:absolute;left:0;bottom:0px;width:100%;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data01{position:absolute;left:22px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data02{position:absolute;left:57px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data03{position:absolute;left:90px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data04{position:absolute;left:142px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data05{position:absolute;left:192px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data06{position:absolute;left:225px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num02 .prog_data07{position:absolute;left:260px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}

#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar03{position:absolute;left:0;top:35px;width:47.5%;height:8px;border-radius:0 5px 5px 0;background:#8e9caa url('../../img/prog_bar_img.jpg') no-repeat left top;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar03 .prog_data_txt{position:absolute;right:0;top:-20px;text-align:right;font-weight:bold;font-size:14px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03{position:absolute;left:0;bottom:0px;width:100%;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data01{position:absolute;left:22px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data02{position:absolute;left:57px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data03{position:absolute;left:90px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data04{position:absolute;left:138px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data05{position:absolute;left:188px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data06{position:absolute;left:225px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num03 .prog_data07{position:absolute;left:260px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}

#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar04{position:absolute;left:0;top:35px;width:45%;height:8px;border-radius:0 5px 5px 0;background:#8e9caa url('../../img/prog_bar_img.jpg') no-repeat left top;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_bar04 .prog_data_txt{position:absolute;right:0;top:-20px;text-align:right;font-weight:bold;font-size:14px;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04{position:absolute;left:0;bottom:0px;width:100%;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data01{position:absolute;left:22px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data02{position:absolute;left:57px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data03{position:absolute;left:90px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data04{position:absolute;left:142px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data05{position:absolute;left:192px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data06{position:absolute;left:225px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}
#wrap .tab_con .tab_content .result_table tbody td .diagnosis_body > li .prog_num04 .prog_data07{position:absolute;left:260px;bottom:6px;text-align:center;font-size:12px;opacity:0.5;}

#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal{position:relative;width:100%;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .tit{width:100%;height:60px;line-height:60px;text-align:center;font-weight:bold;font-size:25px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .kcal_data{width:150px;height:150px;margin:10px auto 0;border-radius:50%;border:2px solid rgba(255,255,255,0.8);box-sizing:border-box;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .kcal_data .kcal_num{display:block;text-align:center;font-weight:bold;font-size:40px;color:#fff200;padding-top:45px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .kcal_data .kcal_txt{display:block;text-align:center;font-size:20px;color:#fff;}

#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul{position:relative;width:95%;margin:0 auto;padding:20px 0 10px 0;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li{position:relative;width:100%;height:50px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li .tit_text{position:absolute;left:0;top:10px;text-align:left;font-size:14px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li .kcal_text{position:absolute;right:0;top:10px;text-align:right;font-size:14px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li .kcal_prog_bar{position:absolute;left:0;bottom:10px;width:100%;height:8px;background:#3d4854;border-radius:5px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li .kcal_prog_bar .kcal_prog_blue{position:absolute;left:0;top:0;width:90%;height:8px;background:#0b9cf2;border-radius:5px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li .kcal_prog_bar .kcal_prog_skyblue{position:absolute;left:0;top:0;width:30%;height:8px;background:#03d8d9;border-radius:5px;}
#wrap .tab_con .tab_content .result_table tbody td .date_total_kcal .dtk_ul > li .kcal_prog_bar .kcal_prog_yellow{position:absolute;left:0;top:0;width:70%;height:8px;background:#ffb100;border-radius:5px;}

#wrap .program_confirm{position:relative;width:1040px;height:130px;margin:20px auto 0;text-align:center;}
#wrap .program_confirm .pc_tit{text-align:center;font-weight:bold;font-size:25px;color:#c0c3c8;padding:15px 0;}
#wrap .program_confirm .btn_ok{display:inline-block;width:150px;text-align:center;font-weight:bold;font-size:32px;color:#fff;padding-bottom:10px;}
#wrap .program_confirm .btn_ok:focus,
#wrap .program_confirm .btn_ok.on{color:#fff200;border-bottom:3px solid #fff200;}
#wrap .program_confirm .btn_cancel{display:inline-block;width:150px;text-align:center;font-weight:bold;font-size:32px;color:#fff;padding-bottom:10px;}
#wrap .program_confirm .btn_cancel:focus{color:#fff200;border-bottom:3px solid #fff200;}

.h50{height:50px !important;line-height:50px !important;}
.h70{height:70px !important;line-height:70px !important;}
.h100{height:100px !important;line-height:100px !important;}
.h101{height:101px !important;line-height:101px !important;}
.bg_black04{background-color: rgba(0,0,0,0.4);}
.bg_black02{background-color: rgba(0,0,0,0.2);}
.bg_green{background-color: rgba(0,212,255,1);}
.bg_purple{background-color: rgba(33,16,53,0.8);}

.tc_blue{color:#00d4ff !important;}
.tc_lightyellow{color:#fff200 !important;}
.tc_red{color:#fe0000 !important;}

.tableLogo{position:relative;background:url('../../img/table_logo.png') no-repeat right bottom;}
.t_tit01{position:absolute;right:15px;top:20px;height:20px;line-height:20px;font-size:20px;}
.t_tit02{position:absolute;left:15px;bottom:20px;height:20px;line-height:20px;font-size:20px;}
.table_icon01{background:url('../../img/table_icon01.png') no-repeat right bottom;}
.table_icon02{background:url('../../img/table_icon02.png') no-repeat right bottom;}

